thead th{
    color: #fff;
    background-color: #1C1C1C;
    border: 0.15rem solid #1AE8E5;
}

tbody td{
    padding: 10px;
}

table td, table th{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	vertical-align: top;
	text-align: center;
	border-bottom: 0.15rem solid #1AE8E5;
}

table{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #C0C0C0;
}

@media only screen and (max-device-height: 768px) and (max-device-width: 1366px){
	table{
		font-size: 2.5vh;
	}
}

@media only screen and (max-device-height: 1366px) and (max-device-width: 768px){
	table{
		font-size: 2vh;
	}
}

@media only screen and (max-device-height: 360px) and (max-device-width: 640px){
	table{
		font-size: 6vh;
	}			
}

@media only screen and (max-device-height: 640px) and (max-device-width: 360px){
	table{
		font-size: 3vh;
	}	
}
