footer{
	margin-top: 2.25rem;
	border-top: 0.15rem solid #1AE8E5;	
	height: 6rem;
	background-color: #29251D;
	position: relative;
	color: #ffffff;
	display: block;
	padding: 0.5rem 1rem;
	margin-left: 0%;
	margin-right: 0%;
	bottom:0;
	right:0;
	left:0;
}

footer div{
	padding-right: 1.875rem;
	padding-top: 0.35rem;
	margin: 0;
    background-color: #29251D;
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
}

footer a:hover {
	color: #1AE8E5;
	transition-duration: 1s;
}

footer a{
	text-decoration: none;
	color: #f2f2f2;
}

.a-fot{
	float: right;
	padding-top: 1.875rem;
}

@media(max-width: 768px) {
    footer div{
		padding-right: 1.5rem;
		padding-top: 0rem;
	}

	.a-fot{
		margin-left: auto;
		right: 0;
	}
}