@charset "utf-8";

@font-face {
      font-family: "anton";
      src: url("../fontes/anton.ttf");
      }

.anton-font{
		font-family: "anton";  
	}

@font-face {
	font-family: "oswald";
	src: url("../fontes/Oswald.ttf");
}

.oswald-font{
	font-family: "oswald";
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}



:target{
    scroll-margin-top: 4.25rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
    }
::-webkit-scrollbar-track {
    background:#1C1C1C;
    }
::-webkit-scrollbar-thumb {
    background: #1AE8E5;
    height: 10px;
    border-radius: 20px;
    }
::-webkit-scrollbar-thumb:hover {
    background: #13bcb9;
    }

html, body{
    background-color: aliceblue;
    font-family: "oswald";
	height: 100%;
	font-size: 1rem;
	scroll-behavior: smooth;
}

article{
    margin-top: 6rem;
    text-align: center;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
	min-height: 100%;
}

section{ 
	color: #1C1C1C;
	padding: 1.25rem 0.95rem;
    text-align: justify;
}

.bg-gray{
	background-color: #C0C0C0;
}

.bg-alice{
	background-color: aliceblue;
}

.col-img{
	width: 100%;
}

.container-grid{
	display: grid;
	position: relative;
	grid-template-areas: "grid-item" "grid-item";
	grid-template-columns: 50% 50%;
}


figcaption {
    background-color: #1C1C1C;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 0.2rem;
    text-align: center;
}

h1{
	font-size: 2.5rem
}

h3{
	font-size: 1.75rem;
}

h4{
	font-size: 1.5rem;
}

h5{
	font-size: 1.25rem;
}

.text-center{
	text-align: center;
}

.text-justify{
	text-align: justify;
}

.mt-1{
	margin-top: .5rem
}

.mt-2{
	margin-top: 1.5rem
}

.mt-3{
	margin-top: 3rem
}

.mtb-3{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.mlr-1{
	margin-left: .5rem;
	margin-right: .5rem;
}

.mlr-2{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.mlr-3{
	margin-left: 3rem;
	margin-right: 3rem;
}

@media(max-width: 768px) {
    .mlr-1{
		margin-left: .25rem;
		margin-right: .25rem;
	}
	
	.mlr-2{
		margin-left: .5rem;
		margin-right: .5rem;
	}
	
	.mlr-3{
		margin-left: .75rem;
		margin-right: .75rem;
	}

	aside{
		max-width: 90vw;
	}

	.container-grid{
		grid-template-areas: "grid-item" 
							 "grid-item";
		grid-template-columns: 100%;
	}
	
}