thead th{
    color: #fff;
    background-color: #29251D;
    border: 0.15rem solid #1AE8E5;
}

table td, table th{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	vertical-align: top;
	text-align: center;
	border-bottom: 0.15rem solid #1AE8E5;
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}